/* Override default styles */
@import 'react-datepicker/dist/react-datepicker.css';

.react-datepicker-ignore-onclickoutside {
    outline: none;
}

.react-datepicker__input-container input {
    background: transparent;
}


.react-datepicker {
}

.react-datepicker__day--selected {
    color: #FFFFFF;
    background: linear-gradient(to right, #ff5757, #8c52ff);
}